@media (max-width: 600px) {
    .maindiv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex {
       flex-direction: column;
     }
    .my-3 {
       margin-top: 1rem;
       margin-bottom: 1rem;
     }
    .mx-28 {
       margin-left: 0.5rem;
       margin-right: 0.5rem;
     }
    .p-1 {
       padding: 0.5rem;
     }
    .text-lg {
       font-size: 1rem;
     }
    .w-full {
       width: 100%;
     }
     canvas {
      width: 350px;
       height: 800px;
       height: auto;
     }
     .allbtn{
        padding: 1px 2px;
        gap: 6px;
        
     }
     button{
        width: 180px;
        font-size: 20px;
        font-weight: 900;
     }
     .colorpiker{
        display: flex;
        width: 150px;
        justify-content: center;
       
     }
     .selectfont{
        font-size: 16px;
     }
   
     
   }